= form_for @signup, :html => { :class => 'form-horizontal' } do |f|
  - if @signup.errors.any?
    #error_explanation
      Sorry there was an error submitting
      %ul
        - @signup.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email
    = f.text_field :email, :class => 'form-control', :placeholder => "e.g. stevehill@gmail.com"
  .form-group
    = f.label :imdb, "IMDB"
    = f.text_field :imdb, :class => 'form-control', :placeholder => "e.g. www.imdb.com/name/nm0330687"
  .form-group.center
    and/or
  .form-group
    = f.label :website, "Personal Website"
    = f.text_field :website, :class => 'form-control', :placeholder => "e.g. www.mywebsite.com"
  .form-group
    = f.submit 'Apply', :class => 'btn btn-lg btn-primary btn-block'
