= stylesheet_link_tag "signup/list", media: "all", "data-turbolinks-track" => true

.row
  .col-md-2
  .col-md-8
    - if flash[:notice]
      .panel.panel-default.error
        = flash[:notice]
  .col-md-2
  
.row.signup-list-container
  .col-md-2
  .col-md-8
    %h1 Listing Signups

    %table{:class => 'table table-bordered'}
      %tr
        %th Email
        %th Imdb
        %th Website
        %th

      - @signups.each do |signup|
        %tr
          %td= signup.email
          %td= link_to signup.imdb, signup.imdb, :target => '_blank'
          %td= link_to signup.website, signup.website, :target => '_blank'
          %td= link_to 'Approve', edit_signup_path(signup)
  .col-md-2
