= stylesheet_link_tag    "projects/create-animate", media: "all", "data-turbolinks-track" => true
= stylesheet_link_tag    "projects/create-flow", media: "all", "data-turbolinks-track" => true
= stylesheet_link_tag    "projects/select2", media: "all", "data-turbolinks-track" => true

.container
  .row
    .col-md-2
    .col-md-8
      - if @project.errors
        .panel.panel-default.error
          - @project.errors.full_messages.each do |e|
            %ul
              %li
                = e
    .col-md-2

  .row
    .col-md-2
    .col-md-8
      = render partial: "form", locals: { project: @project, skills: @skills }
    .col-md-2

= javascript_include_tag "projects/create_projects", "data-turbolinks-track" => true
= javascript_include_tag "projects/holder", "data-turbolinks-track" => true
= javascript_include_tag "projects/select2", "data-turbolinks-track" => true